.viewport-animation {
  position: relative;
  transition: all 250ms ease;
}

.viewport-slow {
  transition: all 500ms ease;
}

.viewport-animation:not(.viewport-visible) {
  opacity: 0%;
}

.viewport-animation.viewport-left:not(.viewport-visible) {
  left: -50px;
}

.viewport-animation.viewport-right:not(.viewport-visible) {
  left: 50px;
}

.viewport-visible {
  opacity: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}